<!DOCTYPE html>
<html>
    <head>
        <title>NTL</title>
        <link rel="stylesheet" href="../static/style1.css">
        
        <!-- Need CDN or not??what mean? <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    </head>
    <body> 
        
        <h1 style="text-align: center;"> This is my gallery on a trip to moscow.</h1>
        <br>
        <div class="topnav">
            <form action="/">
                <button type="submit" style="float: right; background-color: yellow;">Sign out</button>
            </form>
        </div>
        <br>
        <hr width=900px color="red">

        <div class="row">
            <div class="col">
                <img id="img-1" src="../static/9.jpg" alt="My 1" width="100%" height="300">
            </div>

            <div class="col">
                <img id="img-2" src="../static/10.jpg" alt="My 2" width="100%" height="300">
            </div>

            <div class="col">
                <img id="img-3" src="../static/4.jpg" alt="My 3" width="100%" height="300">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img id="img-4" src="../static/5.jpg" alt="My 4" width="100%" height="300">
            </div>

            <div class="col">
                <img id="img-5" src="../static/6.jpg" alt="My 5" width="100%" height="300">
            </div>

            <div class="col">
                <img id="img-6" src="../static/7.jpg" alt="My 6" width="100%" height="300">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img id="img-7" src="../static/8.jpg" alt="My 7" width="100%" height="100%">
            </div>

        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01" scr="">
        </div>
        <br>
        <hr width=900px color=red>
        
        <script src="../static/main.js"></script>
    </body>
</html>